---
import "material-icons/iconfont/material-icons.css";
---

<div id="appendices" class="bg-[#1A1A1A] h-full items-start">
  <section id="about" class="flex flex-col p-10 text-white">
    <h1 class="text-4xl font-extrabold text-center">Appendices</h1>
    <br />
    <div class="grid gap-5 grid-flow-row md:grid-cols-2">
      <a
        href="https://drive.google.com/uc?export=download&id=1C-NQsCaIU4mLs1uIQR-Y6osusmapR8jN"
      >
        <div
          class="flex justify-center align-middle border-4 border-solid border-white rounded-lg"
        >
          <span style="font-size: 50px;" class="material-icons my-auto ml-5"
            >download_for_offline</span
          >
          <p class="p-5 text-2xl font-extrabold">Recommendation Letter</p>
        </div>
      </a>
      <a
        href="https://drive.google.com/uc?export=download&id=1Y85vUoPuSHRZOY0zHfuuUO1A_Lwmuu3Q"
      >
        <div
          class="flex justify-center align-middle border-4 border-solid border-white rounded-lg"
        >
          <span style="font-size: 50px;" class="material-icons my-auto ml-5"
            >download_for_offline</span
          >
          <p class="p-5 text-2xl font-extrabold">Certificate of Completion</p>
        </div>
      </a>
      <a
        href="https://drive.google.com/uc?export=download&id=1ZiksnGc5U6kmJ80b02lbi2_H5OM3mhls"
      >
        <div
          class="flex justify-center align-middle border-4 border-solid border-white rounded-lg"
        >
          <span style="font-size: 50px;" class="material-icons my-auto ml-5"
            >download_for_offline</span
          >
          <p class="p-5 text-2xl font-extrabold">Attendance Reports (DTR)</p>
        </div>
      </a>
      <a
        href="https://drive.google.com/drive/folders/1pEeTbSX_rsbbuy5IswXO42LyVAFY9Hrn?usp=sharing"
        target="_blank"
      >
        <div
          class="flex justify-center align-middle border-4 border-solid border-white rounded-lg"
        >
          <span style="font-size: 50px;" class="material-icons my-auto ml-5"
            >image</span
          >
          <p class="p-5 text-2xl font-extrabold">Practicum Images</p>
        </div>
      </a>
      <a href="https://www.linkedin.com/in/keane-tolentino/" target="_blank">
        <div
          class="flex justify-center items-start border-4 border-solid border-white rounded-lg"
        >
          <img
            style="width: 50px; height: 50px"
            class="my-auto"
            src="https://raw.githubusercontent.com/gauravghongde/social-icons/master/PNG/White/LinkedIN_white.png"
            alt="LinkedIn Icon"
          />
          <p class="p-5 text-2xl font-extrabold">LinkedIn</p>
        </div>
      </a>
      <a href="https://keanetolentino.jobs180.com/" target="_blank">
        <div
          class="flex justify-center items-start border-4 border-solid border-white rounded-lg"
        >
          <img
            style="width: 50px; height: 50px"
            class="my-auto"
            src="https://cdn-icons-png.flaticon.com/512/807/807279.png"
            alt="Jobs180 Icon"
          />
          <p class="p-5 text-2xl font-extrabold">Jobs180</p>
        </div>
      </a>
    </div>
  </section>
</div>
