<header
  class="hidden flex flex-row justify-around items-center font-black w-screen h-full lg:flex"
>
  <div class="flex flex-row justify-center">
    <h3
      class="m-5 p-[10px] text-2xl border-4 border-solid border-black rounded-lg xl:text-3xl"
    >
      KT
    </h3>
    <ul
      class="text-xl flex flex-row justify-center items-center xl:text-[1.7rem]"
    >
      <a href="#projects">
        <li><h2 class="mx-5 p-0">Projects</h2></li>
      </a>
      <a href="#experience">
        <li><h2 class="mx-5 p-0">Experience</h2></li>
      </a>
      <a href="#volunteering">
        <li><h2 class="mx-5 p-0">Volunteering</h2></li>
      </a>
      <a href="#certificates">
        <li><h2 class="mx-5 p-0">Certificates</h2></li>
      </a>
    </ul>
  </div>

  <button class="border-4 border-solid border-black rounded-lg"
    ><h3 class="m-0 p-3 text-xl xl:text-[1.7rem]">Contact Me</h3></button
  >
</header>
