<div class="bg-[#1A1A1A] h-full items-start">
  <section id="about" class="flex flex-col p-10 text-white">
    <h1 class="text-4xl font-extrabold">Rationale</h1>
    <br />
    <p
      class="p-5 text-2xl border-4 border-solid border-white rounded-lg italic"
    >
      The internship program at SISC's College of Information Technology is
      designed to provide students with hands-on experience in the IT industry,
      allowing them to apply their acquired skills and knowledge in a corporate
      environment.
    </p>
    <br />
    <p
      class="p-5 text-2xl border-4 border-solid border-white rounded-lg italic"
    >
      The program requires students to complete 500 hours of internship,
      culminating in a final practicum portfolio documenting their experiences
      and learnings.
    </p>
    <br />
    <p
      class="p-5 text-2xl border-4 border-solid border-white rounded-lg italic"
    >
      Driven by a passion for innovation, Tech One Global Ltd. has grown into
      the region’s leading solutions integrator and Microsoft Partner.
    </p>
    <br />
    <p
      class="p-5 text-2xl border-4 border-solid border-white rounded-lg italic"
    >
      For over a decade at Tech One Global Ltd., over 150 technical experts and
      500 seasoned professionals have delivered best-in-class services by
      combining regional expertise with local knowledge— serving 600+ clients
      across various segments and industries.
    </p>
    <br />
    <p
      class="p-5 text-2xl border-4 border-solid border-white rounded-lg italic"
    >
      Since 2004, Tech One Global has been the only regional and most prominent
      end-to-end ECM/Content Services Platform Solutions provider in Asia. In
      addition, it has scanned over 1 billion pages globally.
    </p>

    <br />
    <br />

    <h1 class="text-4xl font font-extrabold">Expectations</h1>
    <br />
    <p
      class="p-5 text-2xl border-4 border-solid border-white rounded-lg italic"
    >
      As someone who has had a previous internship experience, I was looking to
      further venture into fields of Information Technology, particularly,
      Development and Operations or DevOps. student.
    </p>
    <br />
    <p
      class="p-5 text-2xl border-4 border-solid border-white rounded-lg italic"
    >
      From the design process to the development and implementation of solutions
      and products, I'm interested to explore the infrastructure side of
      software development and engineering to expand my knowledge and skillset.
    </p>
    <br />
    <p
      class="p-5 text-2xl border-4 border-solid border-white rounded-lg italic"
    >
      Through Southville College of Information Technology and Engineering's
      Practicum Program, I will be immersing myself in a real-word work
      environment and working on production tasks and responsibilities to round
      up my learnings as a graduating student.
    </p>
  </section>
</div>
