---
import { Icon } from "astro-icon";
---

<Icon
  name="mdi:close"
  height="25px"
  class="cursor-pointer right-5 top-5 absolute close hidden lg:invisible"
/>
<Icon
  name="mdi:menu"
  height="25px"
  class="cursor-pointer right-5 top-5 absolute logo menu lg:invisible"
/>

<header
  class="mobile flex flex-col justify-start items-center font-black h-screen w-screen hidden lg:invisible"
>
  <h3
    class="m-5 p-[10px] text-2xl border-4 border-solid border-black rounded-lg"
  >
    KT
  </h3>
  <ul class="text-4xl flex flex-col items-center">
    <a href="/#about">
      <li><h2 class="m-1 p-0">About</h2></li>
    </a>
    <a
      href="https://drive.google.com/file/d/1h3hzLpBLJOrfIsRYBnDAWEta3IZlztj5/view?usp=sharing"
      target="_blank"
    >
      <li><h2 class="m-1 p-0">Tech One</h2></li>
    </a>
    <a href="/#reports">
      <li><h2 class="m-1 p-0">Reports</h2></li>
    </a>
    <a href="/#appendices">
      <li><h2 class="m-1 p-0">Appendices</h2></li>
    </a>
  </ul>
  <a
    href="https://drive.google.com/uc?export=download&id=14yhPQFd7hCJ0vfuMaa3uC44LaaCf8N-h"
  >
    <button class="mt-6 text-2xl border-4 border-solid border-black rounded-lg"
      ><h3 class="m-0 p-3 text-3xl">Download Resume</h3></button
    >
  </a>
</header>

<script>
  const closeButton = document.querySelector("svg.close") as SVGAElement;
  const menuButton = document.querySelector("svg.menu") as SVGAElement;
  const header = document.querySelector("header.mobile") as Element;
  const footer = document.querySelector("footer");

  closeButton.addEventListener("click", () => {
    // Close header
    header.classList.toggle("hidden");

    // Make X icon hidden
    closeButton.classList.toggle("hidden");

    // Make menu icon visible
    menuButton.classList.toggle("hidden");

    // Make footer invisible
    footer?.classList.toggle("hidden");
  });

  menuButton.addEventListener("click", () => {
    // Close header
    header.classList.toggle("hidden");

    // Make X icon hidden
    menuButton.classList.toggle("hidden");

    // Make menu icon visible
    closeButton.classList.toggle("hidden");

    // Make footer visible
    footer?.classList.toggle("hidden");
  });
</script>
