---
const reports = await Astro.glob("../content/reports/*.md");
---

<div class="bg-transparent h-full flex justify-center items=center">
  <a
    href="https://www.animalalliancepledge.org/"
    target="_blank"
    class="kill-link-style"
  >
    <div
      class="cursor-pointer move-up-slightly duration-200 shadow-md hover:shadow-xl"
    >
      <div class="project-picture rounded-t-2xl h-60 w-full animal-demo"></div>
      <div
        class="project-description p-4 py-6 text-3xl font-extrabold text-center text-gray-900 bg-gradient-to-r from-red-300 to-red-400 rounded-b-2xl"
      >
        Animal Alliance Pledge
        <div class="font-bolder mt-2 text-xl">
          Helping the Planet by Helping Animals
        </div>
      </div>
    </div>
  </a>
</div>
