---
import MobileNav from "../components/MobileNav.astro";
import Nav from "../components/Nav.astro";
import Hero from "../components/Hero.astro";
import Footer from "../components/Footer.astro";
import Intro from "../components/Intro.astro";
import Reports from "../components/Reports.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="font-sans bg-[#f4f6f4]">
    <Nav />
    <MobileNav />
    <Hero />
    <Intro />
    <Reports />
    <Footer />
  </body>
</html>
