---
import type { MarkdownLayoutProps } from "astro";
import Nav from "../components/Nav.astro";
import MobileNav from "../components/MobileNav.astro";

type Props = MarkdownLayoutProps<{
  // Define frontmatter props here
  author: string;
  date: string;
  hours: number;
  task: string;
}>;

// 1. The frontmatter prop gives access to frontmatter and other data
const { frontmatter } = Astro.props;
const { author, date, hours, task } = frontmatter;
---

<html>
  <head>
    <!-- Add other Head elements here, like styles and meta tags. -->
    <title>✍️ Daily Report</title>
  </head>
  <body>
    <!-- Add other UI components here, like common headers and footers. -->
    <Nav />
    <MobileNav />
    <h1>Written by {author}</h1>
    <h2>Task Assigned: {task}</h2>
    <!-- 2. Rendered HTML will be passed into the default slot. -->
    <slot />
    <p>Written on: {date}</p>
    <p>Hours {hours}/500</p>
  </body>
</html>
